# Basics of Python

## Datatypes
    -This is python notebook

In [3]:
''''
This is very basic tutorial on python.
Shift+ Ent- Run command
clickng on cell-type 'a'- insert a new cell above the current cell
type 'b'-insert a new cell below the current cell.
'''

"'\nThis is very basic tutorial on python.\n\n"

In [5]:
1*2

2

In [4]:
1+1

2

In [6]:
10/2

5.0

In [7]:
10**2 # square

100

In [9]:
10%3 # reminder

1

In [10]:
2 * "sarat"

'saratsarat'

In [11]:
#checking datatype of any value through inbuild function type()
type(1)

int

In [12]:
type(10.5)

float

In [13]:
type("sarat")

str

In [18]:
type(True) # True is a inbuild reserved keyword

type(False)

bool

In [20]:
# Assiging varibale
#Variable_name=Value

x=10

In [21]:
type(x)

int

In [22]:
x="Hello"
type(x)

str

In [24]:
# Mathmatical operations
a=10
b=20
x=(a+b)*(b/a)*(b%a)
x

0.0

In [25]:
# various way of printing 
# to see the syntax of any inbuild function just press shift + tab before bracket.
print("Hello")

Hello

In [32]:
f_name="Sarat"
l_name="Behera"
print(f"My first name is {f_name} and my last name is {l_name}")
print("My first name is {} and my last name is {}".format(f_name,l_name))
print("My first name is {x} and my last name is {y}".format(x=f_name,y=l_name))
print("My first name is {x} and my last name is {y}".format(y=l_name,x=f_name)) 
# we can change order by using variables

My first name is Sarat and my last name is Behera
My first name is Sarat and my last name is Behera
My first name is Sarat and my last name is Behera
My first name is Sarat and my last name is Behera

In [33]:
# some inbuild functions
len("sarat")

5

In [34]:
len("sarat kumar")

11

In [35]:
type(['sarat',3,4,5]) # list is a combination of different datatypes

list